<%- include('header') -%> 
<% var file = JSON.parse(file) %>
<div class="container">
    <table class="table table-bordered">
        <thead class="text-center">
            <tr  style="background-color: ivory;">
                <th style="width: 10%;">
                    일시
                </th>
                <th style="width: 10%;">
                    연락처
                </th>
                <th style="width: 10%;">
                    회사명
                </th>
                <th style="width: 20%;">
                    서비스 종류
                </th>
                <th style="width: 50%;">
                    문의 내용
                </th>
            </tr>
        </thead>
        <% for(var i =0; i< file.length; i++){ %>
        <tbody >
                    <td class="text-center">
                        <%= file[i].timestamp %> 
                    </td>
                    <td>
                        <%= file[i].tel %> 
                    </td>
                    <td>
                        <%= file[i].company %> 
                    </td>
                    <td>
                        <%= file[i].service %> 
                    </td>
                    <td>
                        <%= file[i].complain %> 
                    </td>
                    
                </tbody>
                <% } %> 
        </table>
</div>


<%- include('footer') -%> 
