<%- include('header') -%>
<% var cardList = JSON.parse(card) %>

<section id="section-introduce">
	<div class="container" style="padding: 0%;">
		<h3 class="font-weight-bold"><%= cleaning_title %></h3>
		<p> <%= cleaning_info %> </p>
		<div class="row mb-5 justify-content-around">
			<div class="card">
				<div class="row">
					<div class="col-xs-12 col-md-2" style="margin-top:14px;">
						<div class="row justify-content-around">
							<img src="/images/<%=cardList.src%>" alt="준공청소" style="width: 70%;">
						</div>
								<div class="row justify-content-around">
									<h5 class="card-title font-weight-bold">
										<%= cardList.name %>
									</h5>	
						</div>
					</div>

					<div class="col-xs-12 col-md-10 text-center">
						<div class="row" style="margin-top:10px; margin-bottom:10px;">
							<% for (var j=0;j<cardList.sub.length;j++){%>
								<div class="col-xs-12 col-md-6 col-lg-3">
									<div class="card" style="margin-top:4px; margin-bottom:4px;">
										<strong><b><div class="card-title text-info">
											<%=cardList.sub[j].title%>
										</div>
										<p></b></strong>
											<%=cardList.sub[j].descript%>
										</p>
									</div>
								</div>
							<%}%>
							
						</div>
					</div>
				</div>
			</div>
		</div>
</section>

<%- include('footer') -%>