<%- include('header') -%>
<% var cardList = JSON.parse(card) %>

<section id="section-introduce">

	<div class="container">
		<h3><%= cleaning_title %></h3>
		<p> <%= cleaning_info %> </p>
	</div>
	<div class="container">
		<div class="row mb-5 justify-content-around">
			<% for (var i=0; i < cardList.length;i++){%>
			<div class="card" style="width:60rem;margin:0.5rem;">
				<div class="row">
					<div class="col-3 card-img-top" style="height:6rem;padding-right:0px;">
						<img src="/images/<%=cardList[i].src%>" alt="<%=cardList[i].item%>"
							style="height:100%;">
					</div>
					<div class="col-9 text-center">
						<b>
							<h5 class="card-title" style="padding-top:0.5rem;">
								<%= cardList[i].name %>
							</h5>
						</b>
						<% for (var j=0;j<cardList[i].sub.length;j++){%>
						<div class="card" style="width:10rem;margin:0.5rem;">
							<div class="card-title">
								<%=cardList[i].sub[j].title%>
							</div>
							<p style="font-size: 10pt;">
								<%=cardList[i].sub[j].descript%>
							</p>
						</div>
						<%}%>
					</div>
				</div>
			</div>
			<%}%>
		</div>
</section>

<%- include('footer') -%>