<%- include('header') -%>
<% var overviewList = JSON.parse(overview) %>
<% var historyList = JSON.parse(history) %>
<% var titlesList = JSON.parse(titles) %>

<section id="overview-section" class="site-section" data-aos="fade" style="padding: 0%;">
  <div class="container">
    <div class="row container jsutify-content-center mb-5">
      <h2 style ="margin-bottom: 0rem;"><%= titlesList[0] %></h2>
    </div>
    <div class="row jsutify-content-center mb-5 text-center">
      <div class="col-md-12 mlg-4 col">
        <table style="color: black; font-size: 1rem;" class="table table-bordered">
          <tbody>
            <% for(var i =0; i < overviewList.length; i++) {%>
            <tr>
              <th scope="col"><%=overviewList[i].title%></th>
              <td><%= overviewList[i].content %> </td>
            </tr>
            <%}%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<section id="overview-section2" class="site-section" data-aos="fade" style="padding: 0%;">
  <div class="container">
    <table class="table table-borderless">
      <thead class="container">
        <tr>
          <th scope="col-md-4" class="h2" style="margin-bottom: 0rem;">
            <%= titlesList[1] %>
          </th>
          <th scope="col-md-4" class="h2" style="margin-bottom: 0rem;">
            <%= titlesList[2] %>
          </th>
      </tr>
      </thead> 
      <tbody>
        <tr>
          <td>
            <img src="../images/overview_1.png" style="width: 100%;" alt="overview_1">
          </td>
          <td>
          <img src="../images/overview_2.png" style="width: 100%;" alt="overview_2">
          </td>
        </tr>
      </tbody>
    </table>
    </div>
</section>

<section id="overview-section3" class="site-section" data-aos="fade" style="padding: 0%;">
  <div class="container">
    <div class="row container jsutify-content-center mb-5">
      <h2 style ="margin-bottom: 0rem;"><%= titlesList[3] %></h2>
    </div>
    <div class="row jsutify-content-center mb-5 text-center">
      <div class="col-md-12 mlg-4 col">
        <table style="color: black; font-size: 1rem;" class="table table-bordered">
          <tbody>
          <% for(var i =0; i < historyList.length; i++) {%>
            <tr>
              <th><%= historyList[i].year %> </th>
              <td><%= historyList[i].content %> </td>
            </tr>
          <% } %>
        </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<section id="overview-section4" class="site-section" data-aos="fade" style="padding: 0%;">
  <div class="container">
      <div class="row container jsutify-content-center mb-5">
            <h2 style ="margin-bottom: 0rem;"><%= titlesList[4] %></h2>
      </div>
      <div class="row jsutify-content-center mb-5 text-center">
      <% for (var i=1; i<5; i++){%>
          <div class="col-lg-3 col-md-6" style="padding: 1rem;">
              <img src="../images/certification<%=i%>.png" width="100%" height="100%">
          </div>
          <%}%>
      </div>
  </div>
</section>


<%- include('footer') -%>