<%- include('header') -%>
<% var cardList = JSON.parse(card) %>

<% for (var i=0; i<cardList.length; i++){ %>
<section>
  <div class="container">
    <h2 style="margin-bottom: 2%; margin-top: 2%;">
      <%= cardList[i].managing_type %>
    </h2>
    <div class="accordion" id="Section<%=i%>">
      <% for (var j=0; j<cardList[i].content.length; j++){ %>
        <div class="card">
          <div class="card-header h5">
            <%= cardList[i].content[j].subtitle%>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="row row-cols-1 row-cols-md-3">
                  <% for (var k=0; k<cardList[i].content[j].subcontent.length; k++){ %>
                    <div class="card col-lg-4">
                      <div class="row no-gutters">
                        <div class="col-md-4">
                          <img src="../images/disinfect_1.png" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <p class="card-text"><%= cardList[i].name_title %>:
                            <%= cardList[i].content[j].subcontent[k].name %></p>
                            <% if(cardList[i].content[j].subcontent[k].size_title == "연면적"){ %>
                            <p class="card-text"><%= cardList[i].content[j].subcontent[k].size_title %>:
                            <%= cardList[i].content[j].subcontent[k].size %>m<sup>2</sup></p>
                            <%} else{%>
                            <p class="card-text"><%= cardList[i].content[j].subcontent[k].size_title %>:
                            <%= cardList[i].content[j].subcontent[k].size %></p>
                            <%}%>
                            <p class="card-text"><%= cardList[i].range_title %>:
                            <%= cardList[i].content[j].subcontent[k].range %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  <%}%>
                </div>
              </li>
            </ul>
          </div>
        </div>
      <%}%>
    </div>
  </div>
</section>
<%}%>
<%- include('footer') -%>