<%- include('header') -%>
<% var infectIntro = JSON.parse(infect) %>
<% var cardList = JSON.parse(card) %>

<section id="section-facility-overview" data-aos="fade-up">
  <div class="container space">
    <h2>방역관리</h2>
    <p>이랑씨에스는 정밀 시설점검을 바탕으로 한 최적의 방제 서비스를 제공함으로써 고객사의 해충 발생 원인을 분석 모니터링 하여 드립니다.
    </p>
  </div>
  <div class="container">
    <div class="row mb-5 justify-content-around">
      <% for(var i =0 ; i < infectIntro.length; i++){ %>
      <div class="card col-sm-9 col-md-7 col-lg-5">
        <% for(var j =0 ; j < infectIntro[i].title.length;j++) {%>
        <div class="row">
          <div class="col-3 card-img-top card-img" >
            <img src="/images/<%=infectIntro[i].title[j].src%>" alt="<%=infectIntro[i].title[j].item%>"
              style="height:100%;">
          </div>
          <div class="col-9 sm-space text-center">
            <b>
              <h5 class="card-title">
                <%= infectIntro[i].title[j].name %>
              </h5>
            </b>
            <p class="card-content">
              <%=infectIntro[i].title[j]._desc%>
            </p>
          </div>
        </div>
        <% }%>
        <hr>
        <div class="sm-space card-body text-danger text-center">
          <%=infectIntro[i].content_highlight%>
        </div>
        <div class="card-body text-center">
          <%=infectIntro[i].content%>
        </div>

        <div class="card-body sm-space">
          <ul class="marker-circle">
            <% for(var j=0; j < infectIntro[i].list.length;j++){ %>
            <li class="card-text">
              <%= infectIntro[i].list[j] %>
            </li>
            <% }%>
          </ul>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>

<section id="section-safety-client" data-aos="fade-up">
  <div class="container space">
    <h2>방역관리 현황</h2>
      <% for(var i=0; i< cardList.length;i++){%>
        <section class="space">
          <div>
            <h3 class="text-info">
              <svg class="bi bi-pentagon" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M8 1.288l-6.842 5.56L3.733 15h8.534l2.575-8.153L8 1.288zM16 6.5L8 0 0 6.5 3 16h10l3-9.5z"
                  clip-rule="evenodd" />
              </svg>
            <%= cardList[i].title %>
          </h3>
          <table class="table table-bordered text-center" style="width: 100%;">
            <thead>
              <tr style="background-color: ivory;">
                <th scope="col" style="width: 30%;">
                  관리분야
                </th>
                <th scope="col" style="width: 70%;">
                  관리내용
                </th>
              </tr>
            </thead>
            <%for(var j=0; j<cardList[i].content.length;j++){%>
              <tbody>
                <td>
                  <%= cardList[i].content[j].type%>
                </td>
                <td>
                  <%= cardList[i].content[j]._desc%>
                </td>
              </tbody>
            <%}%>
          </table>
        </div>
        <div>
          <table class="table table-bordered card-body">
            <%for(var j=0; j<cardList[i].client_info.length;j++){%>
              <tbody>
                <td class="cleaning-gradient">
                  <%= cardList[i].client_info[j].name%>
                </td>
                <td class="my-cell">
                  <%= cardList[i].client_info[j].address%>
                </td>
                <td class="my-cell text-center">
                  <%= cardList[i].client_info[j].type%>
                </td>
              </tbody>
            <%}%>
          </table>
        </div>
      </section>
    <%}%>
  </div>


</section>


    <%- include('footer') -%>