<%- include('header') -%>
<div class="container" style="width:30rem;">
    <div class="text-center">
        <img src="/images/x.png" class="img-fluid" alt="Responsive image">
    </div>
    <%= message %>
    <%= error.status %> 
    <%= error.stack %> 
</div>

<%- include('footer') -%> 
 