<%- include('header') -%>
<div class="container">
    <div class="text-center">
        <img style="width:35%;" src="/images/x.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="text-center">
        <h3>페이지를 찾을 수 없습니다.</h3>
        <button>
            <a href="/">홈으로</a>
        </button>
        <!-- <%= message %> -->
        <!-- <%= error.status %>  -->
        <!-- <%= error.stack %>  -->
    </div>
</div>
<div class="container" style="height:10rem;">
</div>
<%- include('footer') -%> 
 