<%- include('header') -%>
<% var cardList = JSON.parse(card) %>

<section id="section-facility-overview">
	<div class="container">
		<h3 class="col-xl-4 col-md-6"><%= facility_title %></h3>
		<p><%=facility_info%></p>
	</div>
	<div class="container">
		<div class="row mb-5 justify-content-around">
			<% for(var i =0 ; i < cardList.length; i++){ %>
			<div class="card" style="width:20rem;margin:0.5rem;">
				<% for(var j =0 ; j < cardList[i].title.length;j++) {%>
				<div class="row">
					<div class="col-3 card-img-top" style="height:6rem;padding-right:0px;">
						<img src="/images/<%=cardList[i].title[j].src%>" alt="<%=cardList[i].title[j].item%>"
							style="height:100%;">
					</div>
					<div class="col-9 text-center">
						<b>
							<h5 class="card-title">
								<%= cardList[i].title[j].name %>
							</h5>
						</b>
						<p
							style="font-size: 10pt; padding-left: 3%;">
							<%=cardList[i].title[j]._desc%>
						</p>
					</div>
				</div>
				<% }%>
				<p class="card-body" style="margin: 0%; padding: 0%; font-size: 11pt; text-align: center;">
					<%=cardList[i].content_highlight%>
					<br><%=cardList[i].content%>
				</p>
				<div class="card-body" style="padding: 0%; font-size: 11pt;">
					<ul>
						<% for(var j=0; j < cardList[i].list.length;j++){ %>
						<li class="card-text">
							<%= cardList[i].list[j] %>
						</li>
						<% }%>
					</ul>
				</div>
			</div>
			<% } %>
		</div>
	</div>
</section>

<%- include('footer') -%>