<%- include('header') -%>
<% var introList = JSON.parse(intro) %>
<% var cardList = JSON.parse(card) %>

<section id="section-facility-overview" data-aos="fade-up">
	<div class="container space">
		<h2><%= facility_title %></h2>
		<p><%=facility_info%></p>
	</div>
	<div class="container">
		<div class="row mb-5 justify-content-around">
			<!-- 카드 갯수만큼 반복 -->
			<% for(var i =0 ; i < introList.length; i++){ %>
			<!-- 카드 전체 -->
			<div class="card col-9 col-sm-9 col-md-6 col-lg-4">
				<% for(var j =0 ; j < introList[i].title.length;j++) {%>
				<div class="row">
					<!-- 이미지 -->
					<div class="col-3 card-img-top card-img">
						<img src="/images/<%=introList[i].title[j].src%>" alt="<%=introList[i].title[j].item%>"
							style="height:100%;">
					</div>
					<!-- 이미지 내용 -->
					<div class="col-9 text-center sm-space">
						<b>
							<h5 class="card-title sm-space">
								<%= introList[i].title[j].name %>
							</h5>
						</b>
						<p class="card-content">
							<%=introList[i].title[j]._desc%>
						</p>
					</div>
				</div>
				<hr>
				<% }%>
				<div class="sm-space card-body text-danger text-center">
					<%=introList[i].content_highlight%>
				</div>
				<div class="card-body text-center"><%=introList[i].content%></div>
				<div class="card-body sm-space">
					<ul class="marker-circle">
						<% for(var j=0; j < introList[i].list.length;j++){ %>
						<li class="card-text">
							<%= introList[i].list[j] %>
						</li>
						<% }%>
					</ul>
				</div>
			</div>
			<% } %>
		</div>
	</div>
</section>

<section id="section-introduce" data-aos="fade-up">
	<div class="container space">
		<div class="row">
			<div class="col justify-content-center ">
				<h2><%= system1 %></h2>
				<img width="100%" class="my-img" src="/images/facility_system.png" alt="스마트 시설관리 시스템 개요">
			</div>
		</div>
	</div>
	<div class="container space">
		<div class="row">
			<div class="col justify-content-center ">
				<h2 class="col-xl-4 col-md-6"><%= system2 %></h2>
				<img width="100%" class="my-img" src="/images/facility_system_feature.png" alt="스마트 빌딩 운영시스템 특징점">
			</div>
		</div>
	</div>
</section>

<section id="section-facility-client" data-aos="fade-up">
	<div class="container space">
		<h2 >시설관리 현황</h2>
        <% for(var i=0; i< cardList.length;i++){%>
        <section class="space">
            <div>
                <h3 class="text-danger">
                    <svg class="bi bi-pentagon" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 1.288l-6.842 5.56L3.733 15h8.534l2.575-8.153L8 1.288zM16 6.5L8 0 0 6.5 3 16h10l3-9.5z"
                                clip-rule="evenodd" />
                        </svg>
                    <%= cardList[i].title %>
                </h3>
                <table class="table table-bordered text-center" style="width: 100%;">
                    <thead>
                        <tr style="background-color: ivory;">
                            <th scope="col" style="width: 30%;">
                                관리분야
                            </th>
                            <th scope="col" style="width: 70%;">
                                관리내용
                            </th>
                        </tr>
                    </thead>
                    <%for(var j=0; j<cardList[i].content.length;j++){%>
                    <tbody>
                        <td>
                            <%= cardList[i].content[j].type%>
                        </td>
                        <td>
                            <%= cardList[i].content[j]._desc%>
                        </td>
                    </tbody>
                    <%}%>
                </table>
            </div>
            <div>
                <table class="table table-bordered card-body">
                    <%for(var j=0; j<cardList[i].client_info.length;j++){%>
                    <tbody>
                        <td class="facility-gradient">
                            <%= cardList[i].client_info[j].name%>
                        </td>
                        <td class="my-cell">
                            <%= cardList[i].client_info[j].address%>
                        </td>
                        <td class="my-cell text-center">
                            <%= cardList[i].client_info[j].type%>
                        </td>
                    </tbody>
                    <%}%>
                </table>
            </div>
        </section>
        <%}%>
    </div>
    
	
</section>
<%- include('footer') -%>