<%- include('header') -%>
<% var cardList = JSON.parse(card) %>

<section id="section-safety-client">
    <div class="container">
        <h2 style="text-align: center;">안전관리 현황</h2>
        <% for(var i=0; i< cardList.length;i++){%>
        <section>
            <div>
                <b>
                    <h3 class="text-warning">
                        <svg class="bi bi-pentagon" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 1.288l-6.842 5.56L3.733 15h8.534l2.575-8.153L8 1.288zM16 6.5L8 0 0 6.5 3 16h10l3-9.5z"
                                clip-rule="evenodd" />
                        </svg>
                        <%= cardList[i].title %>
                    </h3>
                </b>
                <table class="table table-bordered text-center" style="width: 100%;">
                    <thead>
                        <tr style="background-color: ivory;">
                            <th scope="col" style="width: 30%;">
                                관리분야
                            </th>
                            <th scope="col" style="width: 70%;">
                                관리내용
                            </th>
                        </tr>
                    </thead>
                    <%for(var j=0; j<cardList[i].content.length;j++){%>
                    <tbody>
                        <td>
                            <%= cardList[i].content[j].type%>
                        </td>
                        <td>
                            <%= cardList[i].content[j]._desc%>
                        </td>
                    </tbody>
                    <%}%>
                </table>
            </div>
            <div>
                <table class="table table-bordered" style="font-size: 12px;">
                    <%for(var j=0; j<cardList[i].client_info.length;j++){%>
                    <tbody>
                        <td class="<%= (j%2==0) ? "safety-gradient": "safety-gradient-reverse"%> ">
                            <%= cardList[i].client_info[j].name%>
                        </td>
                        <td class="my-cell">
                            <%= cardList[i].client_info[j].address%>
                        </td>
                        <td class="my-cell text-center">
                            <%= cardList[i].client_info[j].type%>
                        </td>
                    </tbody>
                    <%}%>
                </table>
            </div>
        </section>
        <%}%>
            </div>


        </section>

        <%- include('footer') -%>